/* You can add global styles to this file, and also import other style files */
body{
    background-color: #15202b;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

html{
    font-family: sans-serif;

}
